vpc_cidr = "10.0.0.0/16"
azs      = ["ap-northeast-2a","ap-northeast-2c"]

enable_nat = true

subnets = {
  "pub-a": {
    "cidr": "10.0.31.0/24",
    "az": "ap-northeast-2a",
    "tier": "public",
    "public": true
  },
  "pub-c": {
    "cidr": "10.0.32.0/24",
    "az": "ap-northeast-2c",
    "tier": "public",
    "public": true
  },
  "k8s-cp-pri-a": {
    "cidr": "10.0.11.0/24",
    "az": "ap-northeast-2a",
    "tier": "k8s_cp",
    "public": false
  },
  "k8s-cp-pri-c": {
    "cidr": "10.0.12.0/24",
    "az": "ap-northeast-2c",
    "tier": "k8s_cp",
    "public": false
  },
  "k8s-dp-pri-a": {
    "cidr": "10.0.21.0/24",
    "az": "ap-northeast-2a",
    "tier": "k8s_dp",
    "public": false
  },
  "k8s-dp-pri-c": {
    "cidr": "10.0.22.0/24",
    "az": "ap-northeast-2c",
    "tier": "k8s_dp",
    "public": false
  },
  "db-pri-a": {
    "cidr": "10.0.1.0/24",
    "az": "ap-northeast-2a",
    "tier": "db",
    "public": false
  },
  "db-pri-c": {
    "cidr": "10.0.2.0/24",
    "az": "ap-northeast-2c",
    "tier": "db",
    "public": false
  },
  "common-pri-a": {
    "cidr": "10.0.41.0/24",
    "az": "ap-northeast-2a",
    "tier": "common",
    "public": false
  },
  "common-pri-c": {
    "cidr": "10.0.42.0/24",
    "az": "ap-northeast-2c",
    "tier": "common",
    "public": false
  }
}
