apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: nginx-ingress-internal
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "1"
spec:
  project: default
  source:
    repoURL: https://github.com/ytkcore/meta-iac-x4.git
    targetRevision: main
    path: gitops-apps/bootstrap
    directory:
      include: "nginx-ingress-internal-svc.yaml"
  destination:
    server: https://kubernetes.default.svc
    namespace: ingress-nginx
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=false
