# Interface VPC Endpoint는 기본 OFF 입니다.
# 필요 시 아래를 설정하고 enable_interface_endpoints=true로 켜세요.

enable_interface_endpoints = true

# 생성할 Interface Endpoint 서비스 목록 (예: ECR, CloudWatch Logs, STS, SSM 등)
interface_services = [
  "ecr.api",
  "ecr.dkr",
  "logs",
  "sts",
  "ssm",
  "ssmmessages",
  "ec2messages"
]

# Interface Endpoint를 배치할 서브넷 tier 목록 (00-network outputs의 subnet_ids_by_tier 기준)
interface_subnet_tiers = ["k8s_cp","k8s_dp"]

# 이미 존재하는 SG를 사용하려면 ID를 주입하고, null이면 endpoints 스택에서 기본 SG를 생성합니다.
vpce_security_group_id = null
