apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: ${name}
  namespace: ${namespace}
  annotations:
    nginx.ingress.kubernetes.io/proxy-buffer-size: "16k"
    nginx.ingress.kubernetes.io/ssl-redirect: "${ssl_redirect}"
    nginx.ingress.kubernetes.io/force-ssl-redirect: "${force_ssl_redirect}"
    nginx.ingress.kubernetes.io/backend-protocol: "${backend_protocol}"
spec:
  ingressClassName: ${ingress_class_name}
  rules:
  - host: ${host}
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: argocd-server
            port:
              number: 80
